@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/static/PlusJakartaSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* COLORS */
  /* Primary */
  --lime: hsl(61deg, 70%, 52%);
  --red: hsl(4deg, 69%, 50%);
  /* Neutral */
  --white: hsl(0deg, 0%, 100%);
  --slate100: hsl(202deg, 86%, 94%);
  --slate300: hsl(203deg, 41%, 72%);
  --slate500: hsl(200deg, 26%, 54%);
  --slate700: hsl(200deg, 24%, 40%);
  --slate900: hsl(202deg, 55%, 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: var(--slate900);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* ----- UTILITY ----- */
.text-center {
  text-align: center;
}

.container {
  padding-block: 1.75rem;
  padding-inline: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
}

/* ----- mortgage FORM ----- */
.mortgage-form {
  background-color: var(--white);
  display: grid;
}

.mortgage-form__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1.5rem;
}

.mortgage-form__title {
  font-size: 1.75rem;
}

.mortgage-form__clear {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--slate700);
  height: fit-content;
  color: var(--slate700);
}

.mortgage-form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 1.25rem;
}

.mortgage-form__field-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--slate500);
  border-radius: 6px;
  overflow: hidden;
}

.mortgage-form__field-container:focus-within {
  border-color: var(--lime);
}

.mortgage-form__label {
  color: var(--slate700);
  width: fit-content;
}

.mortgage-form__input {
  display: inline-flex;
  width: 100%;
  padding-block: 0.75rem;
  padding-inline-start: 3.25rem;
  font-weight: 700;
  border: none;
  color: var(--slate900);
}

.mortgage-form__input::before {
  content: "";
  display: block;
  background-color: red;
  width: 5rem;
  height: 5rem;
}

:checked + .mortgage-form__radio-label {
  border-color: var(--lime);
  background-color: color-mix(in srgb, var(--lime) 15%, transparent);
}

.mortgage-form__radio {
  display: none;
}

.mortgage-form__radio-label {
  display: inline-flex;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  font-weight: 700;
  border: 1px solid var(--slate500);
  color: var(--slate900);
  gap: 1rem;
  align-items: center;
}

.mortgage-form__radio-label::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.18rem;
  border: 1px solid var(--slate500);
  border-radius: 50%;
  overflow: visible;
}

:checked + .mortgage-form__radio-label::before {
  border-color: var(--lime);
  background-image: linear-gradient(var(--lime), var(--lime));
  background-clip: content-box;
}

.mortgage-form__input:focus-visible {
  outline: none;
  border-color: var(--lime);
}

.mortgage-form__input[data-orientation="no-space"] {
  padding-inline: 1rem 4.75rem;
}

.mortgage-form__badge {
  position: absolute;
  top: 0;
  right: 0;
  padding-inline: 0.85rem;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: var(--slate100);
  color: var(--slate700);
  font-weight: 700;
}

.mortgage-form__input:focus + .mortgage-form__badge {
  background-color: var(--lime);
  color: var(--slate900);
}

.mortgage-form__badge[data-orientation="start"] {
  right: auto;
  left: 0;
}

.mortgage-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mortgage-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-block: 0.75rem;
  padding-inline: 2.75rem;
  width: 100%;
  border-radius: 24px;
  border: transparent;
  background-color: var(--lime);
  color: var(--slate900);
  font-weight: 700;
  font-size: 0.925rem;
}

/* ----- mortgage RESULTS ----- */
.mortgage-results__description[data-visible] {
  display: flex;
}

.mortgage-results {
  background-color: var(--slate900);
  color: var(--white);
}

.mortgage-results__description {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.mortgage-results__image {
  margin-block-end: 1.25rem;
}

.mortgage-results__title {
  margin-block-end: 1rem;
}

.mortgage-results__text {
  font-size: 0.875rem;
  color: var(--slate300);
  line-height: 1.5;
}

.mortgage-results__results[data-visible] {
  display: flex;
}

.mortgage-results__results {
  display: none;
  min-height: 100%;
}

@media screen and (min-width: 64rem) {
  body {
    background-color: var(--slate100);
  }

  /* ----- UTILITIES ------ */
  .card {
    max-width: 62rem;
    flex-direction: row;
    box-shadow: color-mix(in srgb, var(--slate900) 20%, transparent) 0px 0px
      12px 3px;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--white);
  }

  .container {
    min-width: 50%;
    padding-block: 2.25rem;
    padding-inline: 2.25rem;
  }

  /* ----- GRID AREAS ------ */
  [data-area="header"] {
    grid-area: header;
  }

  [data-area="amount"] {
    grid-area: amount;
  }

  [data-area="term"] {
    grid-area: term;
  }

  [data-area="rate"] {
    grid-area: rate;
  }

  [data-area="type"] {
    grid-area: type;
  }

  [data-area="submit"] {
    grid-area: submit;
  }

  /* ----- MORTGAGE FORM ------ */
  .mortgage-form {
    grid-template-areas:
      "header header"
      "amount amount"
      "term rate"
      "type type"
      "submit submit";

    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
  }

  .mortgage-form__header {
    margin-block-end: 2rem;
  }

  .mortgage-form__submit {
    margin-block-start: 1rem;
    max-width: 70%;
  }

  /* ----- MORTGAGE RESULTS ------ */
  .mortgage-results {
    border-end-start-radius: 64px;
  }
}
